body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background: url('../img/giphy.gif');
    background-size: 100%;
}

.editPage {
    background: whitesmoke;
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%) ;
}

.editPage form {
    width: 100%;
    height: 100%;
}

.editPage textarea {
    width: 100%;
    height: 40%;
    margin-bottom: 50px;
}

.editPage button {
    height: 40px;
    width: 100px;
    float: right;
}

.editPage p {
    font-size: 20px;
    border-bottom: 1px solid black;
    text-align: center;
}