.date-separator {
    display: flex;
    margin: 40px;
    align-items: center;
}

.date-separator-line {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    border: none;
}
 
.date-separator-text {
    font-size: 14px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}
